.user--modal--container {
  .users--title {
    font-size: 24px;
    color: #5603ad;
    margin-bottom: 20px;
    text-align: center;
  }

  .users--inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 300px;
    margin: 0 auto;
  }

  .users--button {
    button {
      margin: 0 auto;
      border: 1px solid #5603ad;
      color: #5603ad;
      outline: none;
      background-color: transparent;
      height: 40px;
      width: 125px;
      font-size: 18px;
      transition: background 0.4s;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #5603ad;
      color: white;
    }
  }
}
