.carousel-slider {
  border-radius: 10px;
  img {
    height: 525px;
  }
}

.announces--container {
  margin-top: 10px;
  font-size: 24px;

  a {
    color: #5603ad;
    text-decoration: none;
  }

  span {
    margin-bottom: 10px;
  }
}
